[submodule "sprint-4/go-ya-begin-sprint-4"]
	path = sprint-4/go-ya-begin-sprint-4
	url = git@github.com:skosovsky/go-ya-begin-sprint-4.git
[submodule "sprint-5/go-first-floor-sprint-five"]
	path = sprint-5/go-first-floor-sprint-five
	url = git@github.com:skosovsky/go-first-floor-sprint-five.git
[submodule "sprint-6/final-project-encoding-go"]
	path = sprint-6/final-project-encoding-go
	url = git@github.com:skosovsky/final-project-encoding-go.git
[submodule "sprint-6/go-rest-api-homework"]
	path = sprint-6/go-rest-api-homework
	url = git@github.com:skosovsky/go-rest-api-homework.git
[submodule "sprint-7/go-testify"]
	path = sprint-7/go-testify
	url = git@github.com:skosovsky/go-testify.git
[submodule "sprint-8/go-db-sql-query-test"]
	path = sprint-8/go-db-sql-query-test
	url = git@github.com:skosovsky/go-db-sql-query-test.git
[submodule "sprint-8/go-db-sql-final"]
	path = sprint-8/go-db-sql-final
	url = git@github.com:skosovsky/go-db-sql-final.git
[submodule "sprint-9/go-project-sprint-9"]
	path = sprint-9/go-project-sprint-9
	url = git@github.com:skosovsky/go-project-sprint-9.git
[submodule "sprint-10/final-project-10th-sprint"]
	path = sprint-10/final-project-10th-sprint
	url = git@github.com:skosovsky/final-project-10th-sprint.git
[submodule "sprint-11/docker-final-main"]
	path = sprint-11/docker-final-main
	url = git@github.com:skosovsky/docker-final-main.git
[submodule "sprint-12/hello-world"]
	path = sprint-12/hello-world
	url = git@github.com:skosovsky/hello-world.git
